chromadb==0.5.3
Flask==3.0.3
Flask-Cors==4.0.0
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai==1.0.3
langchain-text-splitters
pypdf==4.2.0
requests==2.31.0
Werkzeug==3.0.2
