chromadb==0.5.3
Flask==3.0.3
Flask-Cors==4.0.0
langchain==0.2.3
langchain-chroma==0.1.2
langchain-community==0.2.4
langchain-core==0.1.52
langchain-google-genai==1.0.3
langchain-openai==0.1.8
langchain-text-splitters==0.2.2
pypdf==4.2.0
requests==2.31.0
Werkzeug==3.0.2
